html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Establezca aquí la altura fija del pie de página */
  line-height: 60px; /* Centrar verticalmente el texto allí */
  background-color: #f5f5f5;
}
 
 
body {
	margin-bottom: 60px; /* Margen inferior por altura del pie de página */
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Icono requerido */
.requiredIcon {
	color: red;
}

/* Inicio de estilos de lista de sugerencias */
	ul.suggestionsList {
		background-color: #eee;
		cursor: pointer;
		border-radius: 3px;
	
	}
		
	ul.suggestionsList li {
		padding: 12px;
		
	}

/* Fin de estilos de lista de sugerencias */


/* Cambiar los colores de las franjas de la tabla de arranque a rojo */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ecf9ec;
}

/* Cambiar el color de fondo de las pestaña */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff6707;
}

/* Mostrar la lista de sugerencias encima de otros elementos */
.customListDivWidth{
	position: absolute;
	z-index:500;
	width: 100%;
}

/* .dataTables_wrapper .dt-buttons {
  float:none;  
  text-align:center;
} */

.blueText {
	color: #2FA4E7;
}